
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: Arial, Helvetica, sans-serif;*/
}
nav { /*แถบเมนู*/
  width: 100%;
  height: 80px;
  /*background: tan;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; /* สีพื้นหลังของแถบเมนู */
  z-index: 1000; /* ใช้ z-index เพื่อให้แถบเมนูอยู่ด้านบนสุด */
}
.background-image{
  background-image: url(/img/bg.jpg);
}
.bin-hamburger {
  font-size: 1.5rem;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  color: #e5965d;
}

/*CHANGE LANGUAUGES*/

body {
    justify-content: center;
    background-color: #fafafa;
}
.dropdown {
    position: relative;
    width: 150px;
    height: 50px;
    bottom: 11px;
    margin-left: 50px;
}
.dropdown::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}
.dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}
.dropdown input {
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: 1px solid #333;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.0);
    padding: 12px 20px;
    border-radius: 10px;
}
.dropdown .option {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}
.dropdown.active .option{
    display: block;
}
.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
}
.dropdown .option div:hover {
    background: #e5965d;
    color: #fff;
}
.dropdown .option div img {
    position: relative;
    top: 4px;
    font-size: 1.2em;
    width: auto;
}

/*.bin-cart {
  font-size: 1.5rem;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  color: #e5965d;
}*/
@keyframes menu1 {
  0% {
  }
  50% {
    width: 80px;
    left: -35%;
  }
}
@keyframes menu2 {
  0% {
  }
  50% {
    width: 80px;
    left: 135%;
  }
}
@keyframes menu3 {
  0% {
  }
  50% {
    letter-spacing: 0.2em;
  }
}
h3 {
  position: relative;
  background: #e5965d;
  color: #e5965d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 800;
  padding: 30px 30px;
  transition: 0.5s;
}
h3 {
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.25em;
  animation: menu3 1s ease-in-out infinite;
}
h3:before{
  content: '';
  position: absolute;
  inset: 4px;
  background: #fff;
}
h3 span {
  position: relative;
  z-index: 1;
}
h3 i {
  position: absolute;
  inset: 0;
  display: block;
}
h3 i::before {
  content: '';
  position: absolute;
  top: -34px;
  left: 150%;
  width: 80px;
  height: 8px;
  background: #fcf0e1;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
  animation: menu1 1s ease-in-out infinite;
}
h3 i::after {
  content: '';
  position: absolute;
  bottom: -34px;
  left: -49%;
  width: 80px;
  height: 8px;
  background: #fcf0e1;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
  animation: menu2 1s ease-in-out infinite;
}
nav ul {
  display: flex;
  padding-top: 25px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: .3s ease;
}
a {
  text-decoration: none;
  color: #333;
  transition: .4s;
  border-bottom: 1px solid transparent;
  padding-bottom: .5em;

  &:hover {
    padding-bottom: 0;
    border-bottom: 1px solid #e5965d;
  }
}

nav ul li a:hover {
  color: #e5965d;

}
.container-product {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 100px;
  transition: transform .5s;
}
svg {
  color: #e5965d;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.icon-cart {
  bottom: 3px;
  margin-left: 10px; /* กำหนดระยะห่างด้านซ้าย */
  padding-bottom: 0px;
}

.icon-cart {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  display: block;
}
.icon-cart:hover {
  /* สามารถเปลี่ยนแปลงสไตล์ตามที่ต้องการ เช่น เพิ่มเงา, เปลี่ยนสีพื้นหลัง, เปลี่ยนขนาด, เปลี่ยนภาพ */
  transform: scale(1.2); /* ตัวอย่างการเปลี่ยนขนาด */
  /* สามารถเพิ่มสไตล์เพิ่มเติมตามต้องการ */
}
.icon-cart span{
  display: flex;
  width: 20px;
  height: 20px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: -10px;
}

.title {
  background-color: white;
  border: 2px solid #e5965d; /* สีเส้นกรอบ */
  display: inline-block; /* แสดงเป็นบล็อกติดต่อกัน */
}

.title {
  font-size: 40px;
  font-family: Sriracha;
  font-weight: 1000;
  color: #e5965d; /* เปลี่ยนสีของ text */
  border-radius: 50%;
  transition: color 0.3s ease, transform 0.3s ease; /* เพิ่ม transition เพื่อทำให้การเปลี่ยนแปลงสีและ transform เน้นมีการเปลี่ยนแปลงอย่างนุ่มนวล */
}
.title .item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.title:hover {
  color: #e5965d; /* สี text เมื่อ hover */
  transform: scale(1.1); /* ปรับขนาด text เมื่อ hover */
}
/* สร้าง animation ชื่อ shake */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(3px); }
}

.title {
  animation: shake 0.5s ease-in-out infinite; /* เล่น animation เมื่อ hover */
}


.listProduct .item img{
  width: 90%;
  margin: 10px;
  filter: drop-shadow(0 1px 10px rgba(31, 31, 31, 0.6));
}
.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProduct .item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
}
.listProduct .item .price {
  letter-spacing: 1px;
  font-size: medium;
}
.listProduct .item button {
  background-color: #e5965d;
  color: #eee;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
.listProduct .item button:hover {
  transform: scale(1.1);
  background-color: #555;
}
.cartTab {
  width: 400px;
  background-color: #333;
  color: #ffffff;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 170px 1fr 69px;
  transition: .5s;
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
}
body.showCart .container-product {
  transform: translate(-250px);
}
.cartTab h1 {
  padding: 30px;
  padding-top: 100px;
  margin: 0;
  font-weight: 500;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button {
  background-color: #e5965d;
  border: none;
  font-size: 18px;
  font-family: Prompt;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .btn .close{
  background-color: #ffffff;
}

.cartTab .listCart .item img {
  width: 100%;
}
.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart { 
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}
@media only screen and (max-width: 992px) {
  .listProduct{
      grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .listProduct{
      grid-template-columns: repeat(2, 1fr);
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.container-map {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.content-map {
  padding: 2em 0;
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 1em;

  .content_left {
    width: 100%;
  }

  .content_right {
    width: 100%;
    h1 {
      margin-bottom: .5em;
    }

    p {
      margin-bottom: 1em;
    }

    .gallery {
      display: grid;
      height: 150px;
      width: 120%;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5em;

      img {
        height: 100%;
      }
    }
  }
}
@font-face {
  font-family: Amarillo;
  src: url(/fonts/amarillo/Amarillo.ttf);
}
@font-face {
  font-family: Mustard;
  src: url(/fonts/mustardo/mustardo.ttf);
}
@font-face {
  font-family: Blacksword;
  src: url(/fonts/blacksword/Blacksword.otf);
}
@font-face {
  font-family: Sriracha;
  src: url(/fonts/Sriracha/Sriracha-Regular.ttf);
}

hr {
  border: none;
  border-top: 1px solid #fff;
  width: 0.5cm;
}
button {
  font-family: "Prompt", sans-serif;
}

.image-container {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
  width: 170%;
}

.image-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.image-container:hover img {
  transform: scale(1.1); /* ทำให้รูปภาพขยายขึ้นเมื่อเมาส์ผ่านเหนือ */
}

.caption {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  background-color: rgb(230, 157, 104);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 0.5s ease;
  opacity: 0; /* ตั้งค่าความโปร่งใสเริ่มต้นเป็น 0 */
}

.image-container:hover .caption {
  opacity: 1; /* แสดงคำอธิบายเมื่อผู้ใช้เมาส์ผ่านเหนือ */
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  margin: auto;
  padding-top: 2em;
  margin-top: 20px;
  /*border-top: 1px solid #eee;*/ 
}  
@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
  nav {
    /*background: mediumaquamarine;*/
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .bin-hamburger {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
  .icon-cart {
    display: flex;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 10;
  }
  .icon-cart span{
    display: flex;
    position: fixed;
    top: 38px;
    right: 20px;
    z-index: 10;
  }
  .icon-cart:hover {
    transform: none;
  }
  .dropdown {
    display: flex;
    position: fixed;
    top: 15px;
    right: 70px;
    z-index: 10;
  }
  nav p {
    margin: 10px;
  }
  nav ul {
    width: 100%;
    background: #ffffff;
    display: none;
    flex-direction: column;
    transition: .3s ease;
  }
  nav ul li a {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
    transition: .1s;
    &:hover {
      padding-bottom: 15px;
      border-bottom: 1px solid #e5965d;
      background-color: #e5965d;
      color: #fff;
    }
  }
  .nav-active {
    display: flex;
  }
  .content {
    padding: 20px;
    margin: 20px;
  }
  hr {
    border: none;
    border-top: 1px solid #fff;
    width: 0.5cm;
  }
}